"*":
  "atom-clock":
    locale: "ja"
    showClockIcon: true
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      predefinedColor: "Purple"
    fonts:
      fontSize: 17
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      useAnimations: false
  "autocomplete-paths": {}
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
    useCoreMovementCommands: false
  "autocomplete-ruby":
    rsensePath: "/Users/yamada_junki/.rbenv/versions/2.5.1/bin/rsence"
  core:
    audioBeep: false
    disabledPackages: [
      "wrap-guide"
      "minimap"
      "minimap-highlight-selected"
      "split-diff"
      "atom-pair"
      "autocomplete-php"
      "git-time-machine"
      "git-log"
      "japanese-menu"
      "markdown-scroll-sync"
      "linter-jscs"
      "vim-mode-plus-ex-mode"
    ]
    packagesWithKeymapsDisabled: [
      "platformio-ide-terminal"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "gruvbox-plus-syntax"
    ]
    titleBar: "hidden"
  editor:
    fontFamily: "CIca"
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "f5701c8b-b9bd-462c-8a3b-27b6a574afb7"
  "file-types":
    "*.rb": "source.ruby.rails"
  "gruvbox-plus-syntax":
    contrast: "Hard"
  "linter-rubocop":
    command: "/Users/yamada_junki/.rbenv/versions/2.5.1/bin/rubocop"
  "linter-ruby":
    rubyExecutablePath: "/Users/yamada_junki/.rbenv/shims/ruby"
  "linter-ui-default":
    panelHeight: 240
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#007fca"
        green: "#85cc47"
        magenta: "#d744c9"
        red: "#cc3d50"
        yellow: "#cfc300"
      zBright:
        brightBlue: "#0098fc"
        brightGreen: "#00db05"
    style:
      fontFamily: "Cica"
      fontSize: "16"
      theme: "dracula"
    toggles:
      cursorBlink: false
  rspec:
    command: "bundle exec rspec"
  "ruby-block":
    highlightLine: false
    highlightLineNumber: true
  "seti-ui":
    compactView: true
    themeColor: "Purple"
  "tree-view": {}
  welcome:
    showOnStartup: false
