"*":
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      predefinedColor: "Purple"
    fonts: {}
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      useAnimations: false
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  "atom-pair":
    slack_url: "diveintocode.slack.com"
  "atom-runner":
    showOutputWindow: false
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
    useCoreMovementCommands: false
  "autocomplete-ruby":
    rsensePath: "/Users/jun/.rbenv/versions/2.5.1/bin/rsense"
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "text.html.ruby": [
        "rhtml"
        "html.erb"
      ]
    disabledPackages: [
      "wrap-guide"
      "minimap"
      "minimap-highlight-selected"
      "atom-autocomplete-php"
      "atom-pair"
      "autocomplete-php"
      "linter-php"
      "japanese-menu"
      "markdown-scroll-sync"
      "rails-snippets"
      "web-search"
      "vim-mode-plus-ex-mode"
    ]
    packagesWithKeymapsDisabled: [
      "sass-autocompile"
      "platformio-ide-terminal"
    ]
    projectHome: "/Users/jun/Workspace"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "gruvbox-plus-syntax"
    ]
    titleBar: "hidden"
  editor:
    fontFamily: "Cica"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "ex-mode": {}
  "exception-reporting":
    userId: "8d343ca5-383b-47aa-8acd-9c7b4e39dc19"
  "gruvbox-plus-syntax":
    contrast: "Hard"
  "linter-rubocop":
    command: "/Users/jun/.rbenv/versions/2.5.1/bin/rubocop"
  "linter-ruby":
    rubyExecutablePath: "/Users/jun/.rbenv/shims/ruby"
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#00bcff"
        green: "#18b046"
        magenta: "#f683e8"
        red: "#cc315c"
      zBright:
        brightBlack: "#a8a7a9"
        brightBlue: "#3874fd"
        brightRed: "#dc2b38"
    customTexts: {}
    iconColors:
      orange: "#ff9300"
    style:
      fontFamily: "Cica"
      fontSize: "16"
      theme: "dracula"
    toggles:
      autoClose: true
      cursorBlink: false
  rspec:
    command: "bundle exec rspec"
  "rubocop-auto-correct":
    autoRun: true
    correctFile: true
  "ruby-block":
    highlightLine: false
    highlightLineNumber: true
  "seti-syntax":
    themeColor: "Green"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Purple"
  term3:
    colors:
      background: "#070707"
    cursorBlink: false
    fontFamily: "Cica"
    fontSize: "21px"
  "tree-view": {}
  "vim-mode-plus":
    autoDisableInputMethodWhenLeavingInsertMode: true
  welcome:
    showOnStartup: false
